.container {
  /* container를 display:flex */
  background: #f0f0f0;
  padding: 1rem;
  border: 1px solid #ccc;
  display: flex;
}
.tall {
  height: 300px;
}
.item {
  background: white;
  border: 2px solid #333;
  padding: 1rem;
  text-align: center;
}
/* flex-direction */
#fd {
  /* row : 가로 방향 (Default) left>right */
  flex-direction: row;
  /* row-reverse : 가로 반대방향 right>left */
  flex-direction: row-reverse;
  /* column : 세로 방향 */
  flex-direction: column;
  /* column-reverse : 세로 역방향 */
  flex-direction: column-reverse;
}

/* justify-content */
#jc {
  /* flex-start : (Default) 왼쪽 정렬 */
  justify-content: flex-start;
  /* flex-end : 오른쪽 정렬 */
  justify-content: flex-end;
  /* center : 가운데 정렬 */
  justify-content: center;
  /* space-between : 양 끝 정렬 */
  justify-content: space-between;
  /* space-around : 균일 간격
    자기 기준으로 하여 양쪽으로 균일하게 */
  justify-content: space-around;
  /* space-evenly : 동일 간격 
      모든 간격 동일하게*/
  justify-content: space-evenly;
}
/* align-items */
#ai {
  /* stretch : (Default) 높이 자동 확장 */
  align-items: stretch;
  /* flex-start : 상단 정렬 */
  align-items: flex-start;
  /* flex-end : 하단 정렬 */
  align-items: flex-end;
  /* center 수직 중앙 정렬 */
  align-items: center;
  justify-content: center;
  /* 위 두가지 쓰면 정 가운데 설정 가능
     단, row와 column의 결과가 다름. */
}
/* flex-wrap */
#fw {
  /* nowrap : 줄바꿈 X */
  flex-wrap: nowrap;
  /* wrap : 줄바꿈 O */
  flex-wrap: wrap;
  /* wrap-reverse 역방향 줄바꿈 */
  flex-wrap: wrap-reverse;
}

#fw .item {
  width: 100px;
  height: 100px;
}
/* align-self */
.self-start {
  align-self: flex-start;
}
.self-center {
  align-self: center;
}
.self-end {
  align-self: flex-end;
}
/* order 순서 변경 */
.order1 {
  /* x축 그래프와 음과 양의 방향이 같다. */
  order: 2;
}
.order2 {
}
.order3 {
  order: -1;
}
/* gap : item 좌우 사이 간격 */
#gap {
  gap: 20px;
}
#gap .item {
  /* 아이템 사이의 상하좌우 간격 */
  /* margin: 20px;  */
}
/* flex-grow */
/* 컨테이너보다 아이템이 작을 때
   flex-grow 값이 클수록 남은 공간을 더 많이 차지한다. 
   비율로 균등 분배 */
#grow-1 {
  /* 1/6 */
  flex-grow: 1;
}
#grow-2 {
  /* 2/6 */
  flex-grow: 2;
}
#grow-3 {
  /* 3/6 */
  flex-grow: 3;
}
/* flex-shrink */
/* 컨테이너보다 아이템이 클때
   flex-shrink 값이 작을수록 더 적게 줄어든다. */
#shrink .item {
  width: 300px;
}

#shrink-1 {
  /* shrink 0 : 아예 안줄이겠다. */
  flex-shrink: 0;
}
#shrink-2 {
  flex-shrink: 1;
}
#shrink-3 {
  flex-shrink: 2;
}
/* flex-basis : width로 대체 가능 */
#basis-1 {
  flex-basis: 100px;
}
#basis-2 {
  flex-basis: 200px;
}
#basis-3 {
  flex-basis: 150px;
}
/* flex : flex-grow flex-shrink flex-basis 한 번에 표현 가능 */
#flex-1 {
  /* Default */
  flex: 0 1 auto;
}
#flex-2 {
  /* grow: 1, shrink: 1, basis: 0% */
  flex: 1;
}
#flex-3 {
  /* 완전히 고정할 때 사용 */
  flex: none;
}

/* align-content */
#ac {
  flex-wrap: wrap;
  height: 200px;
  /* flex-start 상단 정렬 */
  align-content: flex-start;
  /* center 중앙 정렬*/
  align-content: center;
  /* space-between 양 끝 정렬 */
  align-content: space-between;
}

/* header position fixed 
    space between 
    flex 정가운데*/
