body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
}
#sec1 {
  margin: 30px;
  gap: 20px;
}

body img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box1,
.box2 {
  width: 130px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.box1 {
  background-color: orange;
}
.box2 {
  background-color: navy;
}
